export AWS_ACCESS_KEY_ID="aws-access-key"
export AWS_SECRET_ACCESS_KEY="aws-secret-access-key"
export AWS_REGION="aws-region"
export DB_AWS_REGION="db-aws-region"
export DB_ENDPOINT="https://hostname:port"
export DB_TABLE_NAME="db-table-name"
export OIDC_ISSUER_URL="https://accounts.google.com"
export OIDC_CLIENT_ID="oidc-client-id"
export OIDC_TENANT_ID="oidc-tenant-id"
export TEST_CLIENT_ID="test-client-id"
export SQS_ENDPOINT="https://hostname:port/queue-name"
export SQS_AWS_REGION="sqs-aws-region"
export SQS_QUEUE_NAME="sqs-queue-name"
export SET_CA_CERT="true"
