apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-registry-sync-manager
  labels:
    {{- include "cluster-registry-sync-manager.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - registry.ethos.adobe.com
    resources:
      - clustersyncs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - registry.ethos.adobe.com
    resources:
      - clustersyncs/finalizers
    verbs:
      - update
  - apiGroups:
      - registry.ethos.adobe.com
    resources:
      - clustersyncs/status
    verbs:
      - get
      - patch
      - update
  {{- with .Values.extraRBAC }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
