basePath: /api
definitions:
  github_com_adobe_cluster-registry_pkg_api_registry_v1.APIServer:
    properties:
      certificateAuthorityData:
        description: Information about K8s Api CA Cert
        type: string
      endpoint:
        description: |-
          Information about K8s Api Endpoint
          +kubebuilder:validation:Required
        type: string
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.AllowedOnboardingTeam:
    properties:
      gitTeams:
        description: List of git teams
        items:
          type: string
        type: array
      ldapGroups:
        description: List of ldap groups
        items:
          type: string
        type: array
      name:
        description: |-
          Name of the team
          +kubebuilder:validation:Required
        type: string
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.Capacity:
    properties:
      clusterCapacity:
        type: integer
      clusterProvisioning:
        type: integer
      lastUpdated:
        type: string
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.ClusterSpec:
    properties:
      accountId:
        description: |-
          The cloud account associated with the cluster
          +kubebuilder:validation:Required
        type: string
      allowedOnboardingTeams:
        description: Git teams and/or LDAP groups that are allowed to onboard and
          deploy on the cluster
        items:
          $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.AllowedOnboardingTeam'
        type: array
      apiServer:
        allOf:
        - $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.APIServer'
        description: |-
          Information about K8s API endpoint and CA cert
          +kubebuilder:validation:Required
      businessUnit:
        description: |-
          The BU that owns the cluster
          +kubebuilder:validation:Required
        type: string
      capabilities:
        description: List of cluster capabilities
        items:
          type: string
        type: array
      capacity:
        allOf:
        - $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.Capacity'
        description: Capacity cluster information
      cloudProviderRegion:
        description: |-
          The cloud provider standard region
          +kubebuilder:validation:Required
        type: string
      cloudType:
        description: |-
          The cloud provider
          +kubebuilder:validation:Required
        type: string
      environment:
        description: |-
          Cluster environment
          +kubebuilder:validation:Required
        type: string
      extra:
        allOf:
        - $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.Extra'
        description: Extra information, not necessary related to the cluster
      k8sInfraRelease:
        allOf:
        - $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.K8sInfraRelease'
        description: |-
          K8s Infrastructure release information
          +kubebuilder:validation:Required
      lastUpdated:
        description: Timestamp when cluster information was updated
        type: string
      managingOrg:
        description: |-
          The Org that is responsible for the cluster operations
          +kubebuilder:validation:Required
        type: string
      name:
        description: |-
          Cluster name
          +kubebuilder:validation:Required
          +kubebuilder:validation:MaxLength=64
          +kubebuilder:validation:MinLength=3
        type: string
      offering:
        description: |-
          The Offering that the cluster is meant for
          +kubebuilder:validation:Required
        items:
          type: string
        type: array
      peerVirtualNetworks:
        description: Information about Virtual Networks manual peered with the cluster
        items:
          $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.PeerVirtualNetwork'
        type: array
      phase:
        description: |-
          Cluster phase
          +kubebuilder:validation:Required
          +kubebuilder:validation:Enum=Building;Testing;Running;Upgrading
        type: string
      region:
        description: |-
          Cluster internal region name
          +kubebuilder:validation:Required
        type: string
      registeredAt:
        description: |-
          Timestamp when cluster was registered in Cluster Registry
          +kubebuilder:validation:Required
        type: string
      shortName:
        description: |-
          Cluster name, without dash
          +kubebuilder:validation:Required
          +kubebuilder:validation:MaxLength=64
          +kubebuilder:validation:MinLength=3
        type: string
      status:
        description: |-
          Cluster status
          +kubebuilder:validation:Required
          +kubebuilder:validation:Enum=Inactive;Active;Deprecated;Deleted
        type: string
      tags:
        additionalProperties:
          type: string
        description: Cluster tags that were applied
        type: object
      tiers:
        description: |-
          List of tiers with their associated information
          +kubebuilder:validation:Required
        items:
          $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.Tier'
        type: array
      type:
        description: The type of the cluster
        type: string
      virtualNetworks:
        description: |-
          Virtual Private Networks information
          +kubebuilder:validation:Required
        items:
          $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.VirtualNetwork'
        type: array
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.Extra:
    properties:
      domainName:
        description: |-
          Name of the domain
          +kubebuilder:validation:Required
        type: string
      ecrIamArns:
        additionalProperties:
          items:
            type: string
          type: array
        description: List of IAM Arns
        type: object
      egressPorts:
        description: Egress ports allowed outside of the namespace
        type: string
      extendedRegion:
        description: ExtendedRegion information
        type: string
      lbEndpoints:
        additionalProperties:
          type: string
        description: |-
          Load balancer endpoints
          +kubebuilder:validation:Required
        type: object
      loggingEndpoints:
        description: |-
          Logging endpoints
          +kubebuilder:validation:Required
        items:
          additionalProperties:
            type: string
          type: object
        type: array
      nfsInfo:
        description: NFS information
        items:
          additionalProperties:
            type: string
          type: object
        type: array
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.K8sInfraRelease:
    properties:
      gitSha:
        description: GitSha of the release
        type: string
      lastUpdated:
        description: When the release was applied on the cluster
        type: string
      release:
        description: Release name
        type: string
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.PeerVirtualNetwork:
    properties:
      cidrs:
        description: Remote Virtual Netowrk CIDRs
        items:
          type: string
        type: array
      id:
        description: Remote Virtual Netowrk ID
        type: string
      ownerID:
        description: Cloud account of the owner
        type: string
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.Tier:
    properties:
      containerRuntime:
        description: |-
          Container runtime
          +kubebuilder:validation:Required
          +kubebuilder:validation:Enum=docker;cri-o
        type: string
      enableKataSupport:
        description: EnableKataSupport
        type: boolean
      instanceType:
        description: |-
          Type of the instances
          +kubebuilder:validation:Required
        type: string
      kernelParameters:
        additionalProperties:
          type: string
        description: KernelParameters
        type: object
      labels:
        additionalProperties:
          type: string
        description: Instance K8s labels
        type: object
      maxCapacity:
        description: |-
          Max number of instances
          +kubebuilder:validation:Required
        type: integer
      minCapacity:
        description: |-
          Min number of instances
          +kubebuilder:validation:Required
        type: integer
      name:
        description: |-
          Name of the tier
          +kubebuilder:validation:Required
        type: string
      taints:
        description: Instance K8s taints
        items:
          type: string
        type: array
    type: object
  github_com_adobe_cluster-registry_pkg_api_registry_v1.VirtualNetwork:
    properties:
      cidrs:
        description: |-
          CIDRs used in this VirtualNetwork
          +kubebuilder:validation:Required
        items:
          type: string
        type: array
      id:
        description: |-
          Virtual private network Id
          +kubebuilder:validation:Required
        type: string
    type: object
  github_com_adobe_cluster-registry_pkg_apiserver_errors.Error:
    properties:
      errors:
        additionalProperties: true
        type: object
    type: object
  pkg_apiserver_web_handler_v1.clusterList:
    properties:
      items:
        items:
          $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.ClusterSpec'
        type: array
      itemsCount:
        type: integer
      limit:
        type: integer
      more:
        type: boolean
      offset:
        type: integer
    type: object
  pkg_apiserver_web_handler_v2.ClusterPatch:
    properties:
      phase:
        enum:
        - Building
        - Testing
        - Running
        - Upgrading
        type: string
      status:
        enum:
        - Inactive
        - Active
        - Deprecated
        - Deleted
        type: string
      tags:
        additionalProperties:
          type: string
        type: object
    type: object
  pkg_apiserver_web_handler_v2.clusterList:
    properties:
      items:
        items:
          $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.ClusterSpec'
        type: array
      itemsCount:
        type: integer
      limit:
        type: integer
      more:
        type: boolean
      offset:
        type: integer
    type: object
host: http://127.0.0.1:8080
info:
  contact: {}
  description: Cluster Registry API
  title: Cluster Registry API
  version: "1.0"
paths:
  /v1/clusters:
    get:
      consumes:
      - application/json
      description: List all clusters. Use query parameters to filter results. Auth
        is required
      operationId: v1-get-clusters
      parameters:
      - description: Filter by region
        in: query
        name: region
        type: string
      - description: Filter by environment
        in: query
        name: environment
        type: string
      - description: Filter by status
        in: query
        name: status
        type: string
      - description: Filter since last updated (RFC3339)
        in: query
        name: lastUpdated
        type: string
      - description: Offset to start pagination search results (default is 0)
        in: query
        name: offset
        type: integer
      - description: The number of results per page (default is 200)
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/pkg_apiserver_web_handler_v1.clusterList'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
      security:
      - bearerAuth: []
      summary: List all clusters
      tags:
      - cluster
  /v1/clusters/{name}:
    get:
      consumes:
      - application/json
      description: Get an cluster. Auth is required
      operationId: v1-get-cluster
      parameters:
      - description: Name of the cluster to get
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.ClusterSpec'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
      security:
      - bearerAuth: []
      summary: Get an cluster
      tags:
      - cluster
  /v2/clusters:
    get:
      consumes:
      - application/json
      description: List all or a subset of clusters. Use conditions to filter clusters
        based on their fields.
      operationId: v2-get-clusters
      parameters:
      - collectionFormat: multi
        description: Filter conditions
        in: query
        items:
          type: string
        name: conditions
        type: array
      - description: Offset to start pagination search results (default is 0)
        in: query
        name: offset
        type: integer
      - description: The number of results per page (default is 200)
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/pkg_apiserver_web_handler_v2.clusterList'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
      security:
      - bearerAuth: []
      summary: List clusters
      tags:
      - cluster
  /v2/clusters/{name}:
    get:
      consumes:
      - application/json
      description: Get an cluster. Auth is required
      operationId: v2-get-cluster
      parameters:
      - description: Name of the cluster to get
        in: path
        name: name
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.ClusterSpec'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
      security:
      - bearerAuth: []
      summary: Get an cluster
      tags:
      - cluster
    patch:
      consumes:
      - application/json
      description: Update a cluster. Auth is required
      operationId: v2-patch-cluster
      parameters:
      - description: Name of the cluster to patch
        in: path
        name: name
        required: true
        type: string
      - description: Request body
        in: body
        name: clusterPatch
        required: true
        schema:
          $ref: '#/definitions/pkg_apiserver_web_handler_v2.ClusterPatch'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_api_registry_v1.ClusterSpec'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/github_com_adobe_cluster-registry_pkg_apiserver_errors.Error'
      security:
      - bearerAuth: []
      summary: Patch a cluster
      tags:
      - cluster
produces:
- application/json
schemes:
- http
- https
securityDefinitions:
  bearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
